.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .btn-side {
    position: relative;
    width: 37px;
    padding: 12px 0;
  }
  .btn-side span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
    background: #e6c9a2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn-side::before, .btn-side::after {
    content: "";
    position: absolute;
    left: -11px;
    width: 37px;
    height: 2px;
    background: #e6c9a2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn-side::before {
    top: 0;
  }
  .btn-side::after {
    bottom: 0;
  }
  .btn-side.active span {
    opacity: 0;
  }
  .btn-side.active:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: auto;
  }
  .btn-side.active:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    bottom: auto;
  }
  .header.style-2 .btn-side span, .header.style-2 .btn-side::before, .header.style-2 .btn-side::after {
    background: #0e1927;
  }
  .sidebar-content {
    position: absolute;
    right: -100%;
    top: 65px;
    background: #0e1927;
    text-align: center;
    padding: 60px 80px 90px 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 450px;
    height: auto;
  }
  .sidebar-content p {
    color: #fff;
    margin-bottom: 0;
  }
  .sidebar-content h4 {
    color: #e6c9a2;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 16px;
    margin-top: 20px;
  }
  .sidebar-content .line {
    width: 90px;
    height: 1px;
    background: #e6c9a2;
    margin: 15px auto 15px;
  }
  .sidebar-content .list-social {
    justify-content: center;
    margin-top: 25px;
  }
  .sidebar-content.active {
    right: -5%;
  }  

  @media only screen and (max-width: 992px) {
    .sidebar-btn{
        display: none;
    }
  }